<div class="header">
    @Header
</div>
<div class="container">
    @Body
</div>

@code {
    [Parameter]
    public RenderFragment Header { get; set; }

    [Parameter]
    public RenderFragment Body { get; set; }
}
