@inherits LayoutComponentBase
@inject ILocalStorageService local
@inject NavigationManager navigation

<LayoutFragment>
    <Header>
        <NavBar>
            <NavItem>
                @{
                    <li class="header-li">
                        <div>
                            <a>EURO</a>
                        </div>
                        <div>
                            <a>
                                15,87 - %0,00
                            </a>
                        </div>
                    </li>
                    <li class="header-li">
                        <ProfilePhotoComponent/>
                    </li>
                    <li class="header-li" style="margin-top:10px" role="button">
                        <NavLink @onclick="LogAuth" style="color:white">
                            ÇIKIŞ
                        </NavLink>
                    </li>
                }
            </NavItem>
        </NavBar>
        <NavMenu></NavMenu>
    </Header>
    <Body>
        <div class="spinner-container" style="display:none">
            <div class="spinner">
                <div class="spinner-border" style="width: 3rem; height: 3rem" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
        @Body
    </Body>
</LayoutFragment>

@code {
    async Task LogAuth()
    {
        await local.RemoveItemAsync("Token");
        navigation.NavigateTo("/Login");
    }
}

